body {
    background-color: rgb(221, 221, 221);
}

.Menu {
    font-size: large;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*tamaño de letra del titulo "vinoteca cordoba"*/
.logo {
    font-size: 30px;
}

/*tamaño de letra de los iconos debajo del carrusel*/
.letraFotos {
    font-size: 20px;
}

.flexBodegas {
    display: flex;
    flex-direction: row;
}

.formulario {
    margin: 30px;
}

.marginBodegasIndex {
    margin: 30px;
}

.menuTienda {
    margin: 20px auto;
    padding: 20px;
    width: 200px;
}


.contenedor {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav contenido contenido-2 contenido-3 contenido-4"
                         "nav contenido contenido-2 contenido-3 contenido-4"
                         "nav contenido contenido-2 contenido-3 contenido-4"
                         "footer footer footer footer footer"
}

.row.contenedor {
    grid-area: nav;
}

.contenedor .contenido {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenido-2 {
    grid-area: contenido-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenido-3 {
    grid-area: contenido-3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenido-4 {
    grid-area: contenido-4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centrarTextoFotos {
    text-align: center;
}


div .contenedor,
.contenedor .contenido,
.contenedor .contenido-2,
.contenedor .contenido-3,
.contenedor .contenido-4 {
    background-color:white;
    padding: 20px;
}

.footer {
    text-align: center;
}

.fondoH2 {
    background-color: gray;
    color: black;
}

.TituloHistorias {
    margin: 20px;
    background-image: linear-gradient(to right, rgb(73, 73, 73) , rgb(148, 148, 132));
    color: black;
}

.textosHistorias {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.tituloElaboracion {
    text-align: center;
    margin: 25px;
    background-image: linear-gradient(to right, rgb(73, 73, 73) , rgb(148, 148, 132));
    color: black;
}

.centrarVideo {
    text-align: center;
}

.introElaboracion {
    text-align: center;
    margin: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textosElaboracion {
    margin: 30px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textosIndex {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagenVendimia {
    margin: 10px;
}

.imagenCrianza {
    margin: 10px;
    text-align: right;
}

.imagenMaceracion {
    margin: 10px;
    text-align: center;
}

.gridsBodegas {
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-template-rows: 300px 300px;
    margin: 5px
}

.titulosBodegasImagenes {
    margin: 20px;
    background-image: linear-gradient(to right, rgb(63, 42, 42) , rgb(177, 73, 73));
    color: black;
}

.titulosH2 {
    margin: 20px;
    animation-duration: 3s;
    animation-name: aparecer;
 }
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
  
 .lineasSeparadoras > ul > li {
    display:inline;
    border-right: 2px solid #268EBF ;
 }

 .palabrasNav {
     color: aquamarine;
 }

@media(max-width: 576px) {

    .contenedor {
        width: 100%;
        text-align: center;
        display: grid;
	    grid-template-areas: 
	    "nav contenido"
	    "nav contenido"
        "nav contenido"
        "nav contenido-2"
        "nav contenido-2"
        "nav contenido-2"
        "nav contenido-3"
        "nav contenido-3"
        "nav contenido-3"
        "nav contenido-4"
        "nav contenido-4"
        "nav contenido-4"
	    "footer footer";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(13, auto);
    }
    .carruselMobile {
        width: 100%;
        height: 450px;
    }
    div video {
        display: none;
    }
    .imagenVendimia {
        width: 450px;
        height: 200px;
    }
    .imagenMaceracion {
        display: none;
    }
    .imagenCrianza {
        display: none;
    }
    .gridsBodegas {
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: repeat(36, auto);
        margin: 30px
    }
}
