body {
    background-color: rgb(221, 221, 221);
}

.Menu {
    font-size: large;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*tamaño de letra del titulo "vinoteca cordoba"*/
.logo {
    font-size: 30px;
}

/*tamaño de letra de los iconos debajo del carrusel*/
.letraFotos {
    font-size: 20px;
}

/*utilizo flexbox en los logos de las bodegas del index*/
.flexBodegas {
    display: flex;
    flex-direction: row;
}

.formulario {
    margin: 30px;
}

.marginBodegasIndex {
    margin: 30px;
}

.menuTienda {
    margin: 10px;
    padding: 20px;
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    font-size: large;
    background-color: rgb(140, 202, 243);
    align-items: center;
    font-family: sans-serif;
    border-radius: 5px;
    border: 2px solid;
}

.contenedor ul li a {
    color: black;
    text-decoration: none;
}

.contenedor ul li a:hover {
    background-color: beige;

}

.contenedor {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav contenido contenido-2 contenido-3 contenido-4"
                         "nav contenido contenido-2 contenido-3 contenido-4"
                         "nav contenido contenido-2 contenido-3 contenido-4"
                         "footer footer footer footer footer"
}

.contenedor {
    grid-area: nav;
}

.contenedor .contenido {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenido-2 {
    grid-area: contenido-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenido-3 {
    grid-area: contenido-3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenido-4 {
    grid-area: contenido-4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centrarTextoFotos {
    text-align: center;
}


div .contenedor,
.contenedor .contenido,
.contenedor .contenido-2,
.contenedor .contenido-3,
.contenedor .contenido-4 {
    background-color:white;
    padding: 20px;
}

.footer {
    text-align: center;
}

/*los background de los titulos del index*/
.fondoH2 {
    background-color: gray;
    color: black;
}

.TituloHistorias {
    margin: 20px;
    background-image: linear-gradient(to right, rgb(73, 73, 73) , rgb(148, 148, 132));
    color: black;
}

.textosHistorias {
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.tituloElaboracion {
    text-align: center;
    margin: 25px;
    background-image: linear-gradient(to right, rgb(73, 73, 73) , rgb(148, 148, 132));
    color: black;
}

.centrarVideo {
    text-align: center;
}

.introElaboracion {
    text-align: center;
    margin: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textosElaboracion {
    margin: 30px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textosIndex {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imagenVendimia {
    margin: 10px;
}

.imagenCrianza {
    margin: 10px;
    text-align: right;
}

.imagenMaceracion {
    margin: 10px;
    text-align: center;
}

/*uso grilla para ordenar las imagenes de las bodegas en la seccion "imagenes"*/
.gridsBodegas {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    margin: 20px
}

.titulosBodegasImagenes {
    margin: 15px;
    background-image: linear-gradient(to right, rgb(63, 42, 42) , rgb(177, 73, 73));
    color: black;
}

/*titulos de la seccion "historias de las bodegas"*/
.titulosH2 {
    margin: 20px;
    animation-duration: 3s;
    animation-name: aparecer;
 }
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
  
 /*lineas separadoras del nav*/
 .lineasSeparadoras > ul > li {
    display:inline;
    border-right: 2px solid #268EBF ;
 }

 /*nombre de la bodega que se esta viendo en la tienda*/
 .inicadorBodega {
    text-align: center;
    background-color: rgb(0, 0, 0) ;
    color: white;
    font-size: 24px;
 }

 /*le doy estilo a la pagina Error404*/
.fondo404{
    background-color: #268EBF;  
    display: flex;
    justify-content: center;
 }

.link404 {
    font-size: x-large;
    color: rgb(172, 9, 9);
}

 @media(max-width: 380px) {

    .contenedor {
        width: 100%;
        text-align: center;
        display: grid;
	    grid-template-areas: 
	    "nav contenido"
	    "nav contenido"
        "nav contenido"
        "nav contenido-2"
        "nav contenido-2"
        "nav contenido-2"
        "nav contenido-3"
        "nav contenido-3"
        "nav contenido-3"
        "nav contenido-4"
        "nav contenido-4"
        "nav contenido-4"
	    "footer footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(13, auto);
    }
    .menuTienda {
        height: 400px;
        width: 100px;
    }
    div video {
        width: 350px;
        margin: 0px;
    }
    .imagenVendimia {
        display: none;
    }
    .imagenMaceracion {
        display: none;
    }
    .imagenCrianza {
        display: none;
    }
    .gridsBodegas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(36, auto); 
        width: 300px;
        margin: 10px;
    }
    .espacioFotos {
        padding: 5px;
    }
    .imagenesMobile {
        width: 200px;
    }
    .carruselMobile {
        display: none;
    }
    .marginCirculos {
        margin: 25px;
    }
}
